::-webkit-scrollbar {
    width: 7px; /* Ширина скролбара */
    height: 7px;
}

::-webkit-scrollbar-track {
    background: #000000; /* Цвет фона трека */
}

::-webkit-scrollbar-thumb {
    background: #ffffff; /* Цвет ползунка */
    border-radius: 10px; /* Закругление углов ползунка */
}

::-webkit-scrollbar-thumb:hover {
    background: #ff0000; /* Цвет ползунка при наведении */
}


.sostav-info{
    color: #ffffff;
    size: 40px;
    margin-top: 100px;
    letter-spacing: 7px;
}

.description{
    margin-top: 100px;
    size: 70px;
}